body {
  font-family: "Titillium Web", sans-serif;
}

/* Navbar */

#title {
  background-color: #FAF3E9;
  color: black;
  padding-left: 100px;
  padding-right: 100px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
}

@media (max-width: 1028px) {
  #title {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.navbar li a {
  color: black;
  font-size: 1.2rem;
  margin-left: 5px;
  margin-right: 15px;
}

.current-page {
  background-color: #f0dcbf;
  border-radius: 0.5rem;
}

.contact-nav {
  color: grey;
}

.logo {
  width: 9rem;
}

.navbar-light .navbar-toggler {
  border-color: black;
}

/* Title Section */

.title-row {
  text-align: left;

}

@media (max-width: 1028px) {
  .title-row {
    text-align: center;
  }
}

.big-heading {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: #F88827;
}

#title-left .title-button {
  margin: 15px 0;
  font-size: 1.2rem;
}

.btn {
    font-family: "Titillium Web", sans-serif;
}


#title-right {
  text-align: center;

}

#title-left {
    padding-bottom: 75px;
}

 .title-row {
  margin-left: 5%;
  margin-right: 5%;
 }

.example-image {
  width: 70%;
  padding-right: 0;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
}

#drawing-carousel {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 1028px) {
  #drawing-carousel {
    position: relative;
    left: 25px;
  }
}


#drawing-carousel button {
  width: 25%;
}

.carousel-inner {
  padding-right:5px;
  padding-left: 5px;
}

/* Second Section */

.second-section {
  height: 400px;
}
